input[type="range"]::-moz-range-track {
	background: hsl(224, 65%, 95%);
	height: 7px;
	border-radius: 20px;
}
input[type="range"]::-moz-range-thumb {
	-moz-appearance: none;
	height: 40px;
	width: 40px;
	border: none;
	cursor: pointer;
	margin-top: -16px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
	background: url("../images/icon-slider.svg") no-repeat, hsl(174, 86%, 45%);
	background-position: 9px 13px;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 20px #fff, 0 0 10px hsl(174, 86%, 45%),
		0 0 70px hsl(174, 86%, 45%);
	box-shadow: 0 0 20px #fff, 0 0 10px hsl(174, 86%, 45%),
		0 0 70px hsl(174, 86%, 45%);
}
input[type="range"]::-moz-range-progress {
	background: hsl(174, 77%, 80%);
	height: 7px;
	border-radius: 20px;
}
